/* imports */

@import url('//fonts.google.com/specimen/Barrio?selection.family=Barrio');
@import url('//fonts.google.com/specimen/Caveat+Brush?selection.family=Caveat+Brush');
@import url('//fonts.google.com/specimen/Griffy?selection.family=Griffy');

/* vars */

$blue-dark: #F5F5F5;
$blue-light: #FA4D71;
$blue-pants: #0C121D;
$white-almost: #F5F5F5;
$gray-dark: #292A2E;
$gray-light: #F5F5F5;
$green-dark: #000099;
$green-ligth: #000099;
$red-light: #FFADAD; 
$skin-color: #327A32; 
$base-font: 'Barrio';
$welcome-font: 'Griffy';